## 2. Get Location Information

#### import libraries

In [1]:
import pandas as pd
import numpy as np

#### import data

In [2]:
# import toronto data from the first part
df_toronto = pd.read_csv("C:\\Users\\jiaoa\\Dropbox\\Data Science\\Python\\df_toronto.csv")
Postcode = df_toronto['Postcode']

# import data for geographical coordinates of each postal code
df_geo = pd.read_csv("C:\\Users\\jiaoa\\Dropbox\\Data Science\\Python\\Geospatial_Coordinates.csv")
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### merge and construct data with latitude and longitude

In [3]:
# merge two data sets above
df_new = pd.merge(df_toronto, df_geo, how='inner', left_on=['Postcode'], right_on = ['Postal Code'])

# keep useful variables
df_new = df_new[['Postcode','Borough','Neighborhood','Latitude','Longitude']]

# export to csv file
df_new.to_csv('toronto_ll.csv')
df_new.head(11)

,Postcode,Borough,Neighborhood,Latitude,Longitude
0,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North",43.653654,-79.506944
1,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
2,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
3,M2R,North York,Willowdale West,43.782736,-79.442259
4,M4C,East York,Woodbine Heights,43.695344,-79.318389
5,M4X,Downtown Toronto,"Cabbagetown, St. James Town",43.667967,-79.367675
6,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
7,M9C,Etobicoke,"Bloordale Gardens, Eringate, Markland Wood, Ol...",43.643515,-79.577201
8,M3A,North York,Parkwoods,43.753259,-79.329656
9,M4M,East Toronto,Studio District,43.659526,-79.340923
10,M4P,Central Toronto,Davisville North,43.712751,-79.390197